/* Science classes */

.science-section-header {
    border-width: 8px; 
    border-style: solid;
    border-radius: 16px;
    font-size: 32px;
    font-family: Arial;
    text-align: center;
}

.science-div {
    border: 8px solid black;
    background-color: white;
    border-radius: 16px;
}

.science-div p {
    font-family: Arial;
    font-size: 32px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
    padding: 8px;
}

.science-section-choosing-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    gap: 16px;
}

/* Formulas classes */

.formula-div {
    border-width: 8px;
    border-style: solid;
    border-radius: 16px;
    font-family: Arial;
    font-size: 16px;
}

.formula-header {
    text-align: center;
    font-size: 32px;
}

.formula-input {
    text-align: left;
    text-shadow: 2px 2px 4px gray;
    font-family: Arial;
    font-size: 16x;
}

/* Button classes */

.calculate-button {
    background-color: greenyellow;
    border: 8px outset black;
    border-radius: 8px;
}

/* Result classes */

.result-output {
    font-family: Arial;
    text-shadow: 2px 2px 4px darkgray;
}

.result-measuring-unit {
    font-family: Arial;
    text-shadow: 2px 2px 4px darkgray;
}