/* main-header */

.main-header {
    border: 8px solid black;
    background-color: lightskyblue;
    border-radius: 16px;
}

.main-header p {
    color: white;
    font-size: 32px;
    font-family: Arial;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.greeting-div {
    border: 8px solid black;
    background-color: white;
    border-radius: 16px;
    font-family: Arial;
    font-size: 32px;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px gray;
    padding: 8px;
}

.science-section-button {
    border: 8px solid black;
    border-radius: 16px;
    font-size: 32px;
    box-shadow: 2px 2px 4px gray;
}

/* Physics buttons */

#electricity-button {
    background-color: blue;
    color: lightblue;
}

#mechanics-button {
    background-color: gray;
    color: lightgray;
}

#thermodynamics-button {
    background-color: darkgoldenrod;
    color: yellow;
}