<!DOCTYPE html>
<html>
    <head>
        <title>Физический калькулятор</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <header class="main-header">
            <p><strong>Физический калькулятор</strong></p>
        </header>
        <div class="science-div">
            <p>Привет, ученик! У тебя нет времени, калькулятора под рукой или вообще не помнишь формулы, но тебе надо решить задачу? Тогда тебе как раз сюда!</p>
            <div class="science-section-choosing-div">
                <button class="physics-electricity-button science-section-button" id="physics-electricity-button">Электричество</button>
                <button class="physics-mechanics-button science-section-button" id="physics-mechanics-button">Механика</button>
                <button class="physics-thermodynamics-button science-section-button" id="physics-thermodynamics-button">Термодинамика</button>
            </div> 
        </div>
        <div class="science-link-div">
            <p>Ссылки на дополнительную информацию и образовательные ресурсы</p>
            <ul class="science-link-unordered-list">
                <li><a class="science-link" href="https://www.yaklass.ru" target="_blank">ЯКласс</a></li>
                <li><a class="science-link" href="https://sch156.gosuslugi.ru/netcat_files/32/50/9_Fizika_I.M._Peryshkin.pdf" target="_blank">Учебник физики Перышкина за 9 класс</a></li>
            </ul>
        </div>
        <script src="static/js/RedirectButtons/PhysicsRedirectButtons.js"></script>
    </body>
</html>