<!DOCTYPE html>
<html>
    <head>
        <title>Электричество</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/electricity.css') }}">
    </head>
    <body>
        <div class="electricity-section-header science-section-header">
            <p><strong>Электричество</strong></p>
        </div>
        <div class="electricity-div formula-div">
            <p class="electricity-formula-header formula-header"><strong>Расчет тепла по закону Джоуля-Ленца</strong></p>
            <ul class="formula-input">
                <li>
                    <input id="joule-lenz-current" type="number">
                    <span>Сила тока, А</span>
                </li>
                <li>
                    <input id="joule-lenz-resistance" type="number">
                    <span>Сопротивление, Ом</span>
                </li>
                <li>
                    <input id="joule-lenz-elapsed-time" type="number">
                    <span>Время, с</span>
                </li>
                <li>
                    <input id="joule-lenz-voltage" type="number">
                    <span>Напряжение, В</span>
                </li>
                <li>
                    <input id="joule-lenz-electrical-power" type="number">
                    <span>Мощность, Вт</span>
                </li>
            </ul>
            <button class="calculate-button" id="calculate-dissipated-heat-button">Рассчитать</button>
            <output class="result-output" id="dissipated-heat-result">Ответ: </output>
            <span class="result-measuring-unit">Дж</span>
        </div>
        <div class="electricity-div formula-div">
            <p class="electricity-formula-header formula-header"><strong>Расчет напряжения</strong></p>
            <ul class="formula-input">
                <li>
                    <input id="voltage-current" type="number">
                    <span>Сила тока, А</span>
                </li>
                <li>
                    <input id="voltage-resistance" type="number">
                    <span>Сопротивление, Ом</span>
                </li>
                <li>
                    <input id="voltage-dissipated-heat" type="number">
                    <span>Количество теплоты, Дж</span>
                </li>
                <li>
                    <input id="voltage-elapsed-time" type="number">
                    <span>Время, с</span>
                </li>
                <li>
                    <input id="voltage-electrical-power" type="number">
                    <span>Мощность, Вт</span>
                </li>
            </ul>
            <button class="calculate-button" id="calculate-voltage-button">Рассчитать</button>
            <output class="result-output" id="voltage-result">Ответ: </output>
            <span class="result-measuring-unit">В</span>
        </div>
        <div class="electricity-div formula-div">
            <p class="electricity-formula-header formula-header"><strong>Расчет силы тока</strong></p>
            <ul class="formula-input">
                <li>
                    <input id="current-voltage" type="number">
                    <span>Напряжение, В</span>
                </li>
                <li>
                    <input id="current-resistance" type="number">
                    <span>Сопротивление, Ом</span>
                </li>
                <li>
                    <input id="current-dissipated-heat" type="number">
                    <span>Количество теплоты, Дж</span>
                </li>
                <li>
                    <input id="current-elapsed-time" type="number">
                    <span>Время, с</span>
                </li>
                <li>
                    <input id="current-electrical-power" type="number">
                    <span>Мощность, Вт</span>
                </li>
            </ul>
            <button class="calculate-button" id="calculate-current-button">Рассчитать</button>
            <output class="result-output" id="current-result">Ответ: </output>
            <span class="result-measuring-unit">А</span>
        </div>
        <div class="electricity-div formula-div">
            <p class="electricity-formula-header formula-header"><strong>Расчет сопротивления</strong></p>
            <ul class="formula-input">
                <li>
                    <input id="resistance-voltage" type="number">
                    <span>Напряжение, В</span>
                </li>
                <li>
                    <input id="resistance-current" type="number">
                    <span>Сила тока, А</span>
                </li>
                <li>
                    <input id="resistance-dissipated-heat" type="number">
                    <span>Количество теплоты, Дж</span>
                </li>
                <li>
                    <input id="resistance-elapsed-time" type="number">
                    <span>Время, с</span>
                </li>
                <li>
                    <input id="resistance-electrical-power" type="number">
                    <span>Мощность, Вт</span>
                </li>
                <li>
                    <input id="resistance-specific-resistance" type="number">
                    <span>Удельное сопротивление, Ом*мм^2/м</span>
                </li>
                <li>
                    <input id="resistance-electrical-conductor-length" type="number">
                    <span>Длина проводника, м</span>
                </li>
                <li>
                    <input id="resistance-conductor-transverse-area" type="number">
                    <span>Площадь поперечного сечения, мм^2</span>
                </li>
            </ul>
            <button class="calculate-button" id="calculate-resistance-button">Рассчитать</button>
            <output class="result-measuring-unit" id="resistance-result">Ответ: </output>
            <span class="result-unit">Ом</span>
        </div>
        <div class="electricity-div formula-div">
            <p class="electricity-formula-header formula-header"><strong>Расчет электрической мощности</strong></p>
            <ul class="formula-input">
                <li>
                    <input id="electrical-power-voltage" type="number">
                    <span>Напряжение, В</span>
                </li>
                <li>
                    <input id="electrical-power-current" type="number">
                    <span>Сила тока, А</span>
                </li>
                <li>
                    <input id="electrical-power-resistance" type="number">
                    <span>Сопротивление, Ом</span>
                </li>
                <li>
                    <input id="electrical-power-dissipated-heat" type="number">
                    <span>Количество теплоты, Дж</span>
                </li>
                <li>
                    <input id="electrical-power-elapsed-time" type="number">
                    <span>Время, с</span>
                </li>
            </ul>
            <button class="calculate-button" id="calculate-electrical-power-button">Рассчитать</button>
            <output class="result-output" id="electrical-power-result">Ответ: </output>
            <span class="result-measuring-unit">Вт</span>
        </div>
        <script type="module" src="{{ url_for('static', filename='js/Physics/Electricity.js') }}"></script>
    </body>
</html>